@import './colors.css';
@import './fonts.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

a {
  text-align: center;
  transition: 0.4s;
  padding: 15px;
  border-radius: 15px;
  background-color: #093b64;
  text-decoration: none;
  color: rgb(165, 200, 214);
  font-size: 16px;
  font-family: 'Pixelify Sans';
  user-select: none;
}

a:hover {
  background-color: #0a5a9b;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
